<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Impressão de Nota</h1>
</div>
<div *ngIf="!isLoading" class="row">
    <div class="col-10">
        <form class="text-center border border-light p-5">

            <!-- Nome -->
            <div class="form-row mb-4">
                <select [(ngModel)]="selectedCliente" name="selectedCliente" class="form-control">
                    <option value="null" disabled selected hidden>Nome</option>
                    <option *ngFor="let cliente of clientes" [ngValue]="cliente">{{ cliente.nome }}</option>
                </select>
            </div>

            <div class="form-row mb-4">
                <div class="col-2">
                    <input type="number" class="form-control" [(ngModel)]="itemNota.quantidade" name="quantidade"
                        placeholder="Quantidade">
                </div>
                <div class="col-2">
                    <input type="number" class="form-control" [(ngModel)]="itemNota.unidade" name="unidade"
                        placeholder="Unidade">
                </div>
                <div class="col-2">
                    <input type="number" class="form-control" [(ngModel)]="itemNota.precoUnitario" name="precoUnitario"
                        placeholder="Preço unitário">
                </div>
                <div class="col-4">
                    <input type="text" class="form-control" [(ngModel)]="itemNota.descriminacaoLocacao"
                        name="descriminacaoLocacao" placeholder="Descriminação da locação">
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-success" (click)="addItem()">Adicionar <i
                            class="fa fa-plus"></i></button>
                </div>
            </div>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">QUANT.</th>
                        <th scope="col">UNID.</th>
                        <th scope="col">DESCRIMINAÇÃO DA LOCAÇÃO.</th>
                        <th scope="col">PREÇO UNITÁTIO</th>
                        <th scope="col">PREÇO TOTAL</th>
                        <th scope="col">REMOVER</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of itensNota">
                        <td>{{ item?.quantidade }}</td>
                        <td>{{ item?.unidade }}</td>
                        <td>{{ item?.descriminacaoLocacao }}</td>
                        <td>{{ item?.precoUnitario | currency:'BRL' }}</td>
                        <td>{{ item?.precoTotal | currency:'BRL' }}</td>
                        <td><i class="fa fa-trash fa-2x" (click)="removeItem(item)"></i></td>
                    </tr>
                    <tr>
                        <td colspan="4"><span class="text-right large"><b>Valor Total da Nota: </b></span></td>
                        <td><b>{{ somaItens | currency:'BRL' }}</b></td>
                    </tr>
                </tbody>
            </table>


            <!-- Sign up button -->
            <button class="btn-lg btn-info" type="button" (click)="print()">Imprimir <i
                    class="fa fa-print"></i></button>

        </form>
        <!-- Default form register -->

    </div>
</div>

<div *ngIf="isLoading" class="container">
    <div class="row">
        <div class="col text-center">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>

<div id="printing">
    <div class="container">
        <div class="row secao">
            <div class="col borda">
                <div class="row">
                    <div class="col">
                        <img src="../assets/saidtec.jpg">
                    </div>
                    <div class="col contato">
                        <span class="large">Copiadora, Multimarcas e Papelaria</span>
                        <span><i class="fa fa-phone fa"></i> 3791-5545 / 2238-5544</span>
                        <span>www.saidtec.com</span>
                        <span><i class="fa fa-envelope fa"></i> contato@saidtec.com</span>
                        <span>Revendedor Autorizado <b>RICOH</b></span>
                    </div>
                </div>
                <div class="row endereco">
                    <div class="col">
                        <div class="row justify-content-between">
                            <div class="col">
                                <span>Rua Mariquinha Viana, 782</span>
                            </div>
                            <div class="col">
                                <span class="text-right">CEP: 02408-131</span>
                            </div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col">
                                <span>Vila Aurora</span>
                            </div>
                            <div class="col">
                                <span class="text-center">São Paulo</span>
                            </div>
                            <div class="col">
                                <span class="text-right">SP</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col borda nota-debito">
                <div class="row justify-content-between">
                    <div class="col">
                        <span class="large">Nota de débito</span>
                    </div>
                    <div class="col">
                        <span class="large text-right"><b>Nº {{ numeroNota }}</b></span>
                    </div>
                </div>
                <div class="row endereco">
                    <div class="col">
                        <div class="row justify-content-between">
                            <div class="col">
                                <span>Rua Mariquinha Viana, 782</span>
                            </div>
                            <div class="col">
                                <span class="text-right">Vila Aurora</span>
                            </div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col">
                                <span>Município de São Paulo</span>
                            </div>
                            <div class="col">
                                <span class="text-right">Estado de São Paulo</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row endereco">
                    <div class="col">
                        <div class="row justify-content-between">
                            <div class="col">
                                <span>CNPJ: 02.752.443/0001-64</span>
                            </div>
                            <div class="col">
                                <span class="text-right">Inscr. no CCM: 2.735.606-0</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="text-center large">Natureza da Operação: Locação</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="large">Data de Emissão: {{ hoje | date: 'dd/MM/yyyy' }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row borda secao">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <span class="large text-center"><b>USUÁRIO FINAL OU DESTINATÁRIO</b></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span><b>Nome: </b>{{ selectedCliente?.nome }}</span>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col">
                        <span><b>Endereço: </b>{{ selectedCliente?.endereco }}</span>
                    </div>
                    <div class="col">
                        <span class="text-right"><b>CEP: </b>{{ selectedCliente?.cep }}</span>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col">
                        <span><b>Bairro: </b>{{ selectedCliente?.bairro }}</span>
                    </div>
                    <div class="col">
                        <span class="text-center"><b>Município: </b>{{ selectedCliente?.municipio }}</span>
                    </div>
                    <div class="col">
                        <span class="text-right"><b>Estado: </b>{{ selectedCliente?.estado }}</span>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col">
                        <span><b>Inscr. CNPJCPF Nº: </b>{{ selectedCliente?.cnpjcpf }}</span>
                    </div>
                    <div class="col">
                        <span class="text-right"><b>Inscr. Est. Nº: </b>{{ selectedCliente?.inscricaoEstadual }}</span>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col">
                        <span><b>Condições de Pagamento: </b>{{ selectedCliente?.pagamento }}</span>
                    </div>
                    <div class="col">
                        <span class="text-right"><b>Local para Cobrança: </b>{{ selectedCliente?.retirada }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row borda secao">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">QUANT.</th>
                        <th scope="col">UNID.</th>
                        <th scope="col">DESCRIMINAÇÃO DA LOCAÇÃO.</th>
                        <th scope="col">PREÇO UNITÁTIO</th>
                        <th scope="col">PREÇO TOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of itensNota">
                        <td>{{ item?.quantidade }}</td>
                        <td>{{ item?.unidade }}</td>
                        <td>{{ item?.descriminacaoLocacao }}</td>
                        <td>{{ item?.precoUnitario | currency:'BRL' }}</td>
                        <td>{{ item?.precoTotal | currency:'BRL' }}</td>
                    </tr>
                    <tr>
                        <td colspan="4"><span class="text-right large"><b>Valor Total da Nota: </b></span></td>
                        <td><b>{{ somaItens | currency:'BRL' }}</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row info secao">
            <div class="col">
                <span>A atividade de locação de bens móveis, nos termos da lei Federal nº 116 de 31/07/2003 e da
                    pacífica
                    jurisprudência do STF, não constitui fato gerado do ISS, estando por consequência a empresa,
                    desobrigada
                    da emissão de nota fiscal de prestação de serviço.</span>
            </div>
        </div>
        <div class="row borda secao">
            <div class="col rodape">
                <div class="row justify-content-between">
                    <div class="col">
                        <span>Recebi(emos) de SAIDTEC COMÉRCIO LTDA - EPP os serviços constantes da Nota de Débito
                            acima.</span>
                    </div>
                    <div class="col">
                        <span class="text-right large"><b>Nº {{ numeroNota }}</b></span>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col">
                        <span class="text-center">Data</span>
                    </div>
                    <div class="col">
                        <span class="text-center">Assinatura</span>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col">
                        <span class="text-center">________/________/________</span>
                    </div>
                    <div class="col">
                        <span class="text-center">_____________________________________________</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>